{% extends "C4CGreenmeBundle::layout.html.twig" %}
{% block content %}
<div id="categories" class="categories">
</div>
<div class="row-fluid">
    <div id="subcategories" class="span3"></div>
    <div id="habits" class="span9"></div>
</div>
{% endblock %}