{% extends "C4CGreenmeBundle::forms.html.twig" %}
{% block content %}
<div class="span8 offset2 one-page-form">
    <div class="container-fluid">	
        <div class="form span10 offset1">
            <form class="form-horizontal" id="registration" action="http://greenme.co/registration.json">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Greenme \ Regístrate!</legend>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.name">Nombre</label>
                        <div class="controls">
                            <input id="firstName" name="form_user[name]" type="text" placeholder="Ingresa tu nombre" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.last_name">Apellidos</label>
                        <div class="controls">
                            <input id="secondName" name="form_user[last_name]" type="text" placeholder="Ingresa tu apellido" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.username">Nombre de usuario</label>
                        <div class="controls">
                            <input id="secondName" name="form_user[username]" type="text" placeholder="Ingresa tu nombre de usuario" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- File input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.picture_file">Fotografía</label>
                        <div class="controls">
                            <input id="photo" name="form_user[picture_file]" type="file" class="input-xlarge" >
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.email">Email</label>
                        <div class="controls">
                            <input id="email" name="form_user[email]" type="email" placeholder="Ingresa tu email" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.plainPassword">Contraseña</label>
                        <div class="controls">
                            <input id="password" name="form_user[plainPassword][first]" type="password" placeholder="Ingrese una contraseña" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Re-Password input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.repassword">Confirmación contraseña</label>
                        <div class="controls">
                            <input id="repassword" name="form_user[plainPassword][second]" type="password" placeholder="Confirme su contraseña" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Birth Date input-->
                    <div class="control-group">
                        <label class="control-label" for="form_user.birthdate">Fecha de nacimiento</label>
                        <div class="controls date" id="birthDate" data-date="08-06-2013" data-date-format="dd-mm-yyyy">
                            <input name="form_user[birthdate]" type="text" value="08-06-2013" required="">
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>	

                    <!-- Multiple Radios (inline) -->
                    <div class="control-group">
                        <label class="control-label" for="form_user.gender">Genero</label>
                        <div class="controls">
                            <label class="radio inline" for="gender-0">
                                <input type="radio" name="form_user[gender]" id="gender-0" value="F" checked="checked">
                                F
                            </label>
                            <label class="radio inline" for="gender-1">
                                <input type="radio" name="form_user[gender]" id="gender-1" value="M">
                                M
                            </label>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="control-group">
                        <div class="controls">
                            <button id="saveButton" type="submit" name="saveButton" class="form-btn btn-success">Guardar</button>
                            <button id="cancelButton" name="cancelButton" class="form-btn btn-danger">Cancelar</button>
                        </div>
                    </div>

                </fieldset>
            </form>		
        </div>
    </div>
</div>
{% endblock %}